.row{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.cell-small{
  grid-column: span 4;
}

.cell-large{
  grid-column: span 8;
}

@media (max-width: 1200px) {
  .cell-small{
    grid-column: span 5;
  }

  .cell-large{
    grid-column: span 7;
  }
}


@media (max-width: 800px) {
  .cell-small{
    grid-column: span 12;
  }

  .cell-large{
    grid-column: span 12;
  }
}

